# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc

# ----------------------
# Environments
# ----------------------
venv/
.env/

# Conda (sometimes creates local files)
*.conda

# ----------------------
# Data (IMPORTANT)
# ----------------------
data/raw/*
data/processed/*

# Keep folder structure but not files
!data/raw/.gitkeep
!data/processed/.gitkeep

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# VS Code
# ----------------------
.vscode/

# ----------------------
# OS junk
# ----------------------
.DS_Store
Thumbs.db